.logo-sidebar {
  width: 0px;
  height: 0px;
  border-radius: 25%;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px;
}

.sidebar-title {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 700;
}

.ant-layout-sider {
  background: linear-gradient(
    358.3deg,
    rgb(255, 82, 168) 12.9%,
    rgb(177, 118, 240) 134.3%
  );
}

.ant-menu {
  background: transparent;
}

.ant-menu-item {
  background: transparent !important;
}

.ant-menu-item a {
  color: white !important;
}

.ant-menu-item-selected {
  background: rgba(255, 255, 255, 0.2) !important;
}
